
body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
}

:root {
    --border-color: rgb(231, 136, 27); 
    --shadow-color: rgba(231, 136, 27, 0.5);
    --text-color: white;
}

h1 {
    font-size: 48px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
    background-color: black;
    width: fit-content;
    text-align: center;
}

h2 {
    color: var(--text-color);
}

h3 {
    margin: 0;
    color: var(--text-color);
}

/* Contentwrapper */

.ContentWrapperHeader {
    width: 100%;
    max-width: 1920px;
}

.ContentWrapperMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
}

/* Header */

.MainPageHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 80px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 5px 6px var(--shadow-color);
}

.HeaderLogo {
    display: flex;
    height: 72px;
    padding-left: 16px;
}

/* Main */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-image: url(./imgs/mainPics/rain_bg.jpg);
    background-position: center;
    background-size: cover;
}

.ImageContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.mainPageImages {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    border: 2px solid var(--border-color);
    margin: 16px;
}

.mainPageImages:hover {
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

/* Footer */

.MainPageFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 -5px 6px var(--shadow-color);
}

.FooterLogo {
    height: 72px;
    margin-top: 8px;
}

/* Dialog */

#imageDialog {
    justify-items: center;
    border-radius: 12px;
    width: 640px;
    height: 720px;
    padding: 0;
    border: 2px solid var(--border-color);
    background-color: black;
    color: white;
    background-image: url(./imgs/mainPics/rain_bg.jpg);
    background-position: center;
    background-size: cover;
}

#imageDialog::backdrop {
    background-color: rgb(128, 128, 128, 0.275);
}

.DialogHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-top: 12px;
}

#dialogImages {
    width: 480px;
    height: 480px;
    margin-top: 24px;
    border: 1px solid var(--border-color);
}

#dialogFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 8px;
}

.CloseButton {
    font-size: 32px;
    color: #ffffff;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 8px;
}

.CloseButton:hover {
    background-color: var(--shadow-color);
}

.Previous {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--shadow-color);
}

.Previous:hover {
    background-color: var(--border-color);
}

.Next {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--shadow-color);
}

.Next:hover {
    background-color: var(--border-color);

}

.d_none {
    display: none;
}

@media (max-width: 700px) {
    #imageDialog {
        width: 520px;
        height: 600px;
    }

    #dialogImages {
        width: 400px;
        height: 400px;
    }

    .DialogHeader {
        height: 60px;
    }

    .Close-button {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    #imageDialog {
        width: 400px;
        height: 480px;
    }

    #dialogImages {
        width: 320px;
        height: 320px;
    }

    .DialogHeader {
        height: 40px;
    }

    .Close-button {
        font-size: 24px;
        top: 8px;
    }
}

@media (max-width: 500px) {

    .HeaderLogo{
        height: 54px;
    }

    #imageDialog {
        width: 280px;
        height: 360px;
    }

    #dialogImages {
        width: 200px;
        height: 200px;
    }

    .DialogHeader {
        height: 30px;
    }

    .Close-button {
        font-size: 16px;
        top: 4px;
    }

    .Previous {
        height: 32px;
        width: 32px;
    }

    .Next {
        height: 32px;
        width: 32px;
    }

}

@media (max-width:400px) {
    
    .HeaderLogo{
        height: 40px;
    }
}
