body {
    margin: 0;
    height: 100vh;
    background-color: midnightblue;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: raleway, sans-serif;
}

@font-face {
    font-family: Raleway;
    src: url("./fonts/raleway/Raleway-Italic-VariableFont_wght.ttf");
    font-family: Raleway;
    font-weight: bold;
    src: url("./fonts/raleway/Raleway-VariableFont_wght.ttf");
}

p {
    margin: 0;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 48px;
    margin-bottom: 0;
}

h2 {
    margin: 0;
}

/* Header */

#mainPageHeader {
    position: relative;
    height: 80px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 5px 6px rgba(231, 136, 27, 0.5);
}

#headerInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    height: 80px;
    margin-left: 16px;
}

#headerLogo {
    height: 72px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
    background-position: center;
    background-size: cover;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 12px;
    margin-bottom: 16px;
}

#mainPageImages {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    border: 2px solid rgb(231, 136, 27);
}

#mainPageImages:hover {
    cursor: pointer;
}

#mainPageImages:hover {
    border: 2px solid rgb(255, 255, 255);
}

#mainPageFooter {
    height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    bottom: 0;
    box-shadow: 0 -5px 6px rgba(231, 136, 27, 0.5);
}

/* Footer */
#footerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#footerLogo {
    height: 72px;
    margin-top: 8px;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dialog */
#imageDialog {
    border: 2px solid rgb(231, 136, 27);
    background-color: black;
    color: white;
    border-radius: 12px;
    width: 780px;
    height: 726px;
    justify-items: center;
    padding: 0;
    background-image: url(./img/pics/flower.1.jpg);
    background-position: center;
    background-size: cover;
}

#imageDialog::backdrop {
    background-color: rgb(128, 128, 128, 0.275);
}

#dialogHeader {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialogImages {
    width: 761px;
    height: 471px;
    margin-top: 2px;
    border: 1px solid rgb(231, 136, 27);
}

#dialogFooter {
    height: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 8px;
}

.close-button {
    font-size: 60px;
    color: #ffffff;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s;
    padding: 0;
    outline: none;
}

.close-button:hover {
    background-color: rgb(255, 163, 58, 0.5);
}

.close-button {
    position: absolute;
    top: 0;
    right: 8px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: rgba(255, 163, 58, 0.5);
}

.previous {
    background-color: transparent;
    color: white;
    margin-right: 8px;
    border-radius: 50%;
    background-color: rgb(231, 136, 27, 0.5);
}

.next {
    background-color: transparent;
    color: white;
    margin-left: 8px;
    border-radius: 50%;
    background-color: rgb(231, 136, 27, 0.5);
}

.d_none {
    display: none;
}

@media (max-width: 800px) {
    #imageDialog {
        width: 95%;
        height: auto;
    }

    #dialogImages {
        width: 100%;
        height: auto;
    }
}

@media (max-height: 700px) {
    #imageDialog {
        height: 90%;
    }

    #dialogImages {
        height: 60vh;
        width: auto;
    }
}

@media (max-width: 500px) {
    #mainPageImages {
        width: 120px;
        height: 120px;
    }

    .dialoImages {
        width: 100%;
        height: auto;
    }

    #headerInfo {
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 30px;
    }
}

@media (max-height: 400px) {
    #mainPageImages {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 350px) {
    #mainPageImages {
        width: 80px;
        height: 80px;
    }

    #headerInfo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}